@import "tailwindcss";

@theme {
  --color-green-primary: #1D9E75;
  --color-green-dark: #0F6E56;
  --color-green-light: #E1F5EE;

  --color-background: #f7f9f6;

  --font-bangla: "Hind Siliguri", sans-serif;
}